<h4>Choose data type and date range:</h4>
<%= form_tag reports_remote_lookup_path, method: :get, remote: true do %>
	<div class="row">	
		<div class="form-group">
			<div class="col-xs-3">
				<%= select_tag 'data_type', options_for_select(@data_options.collect { |d| [d[:type], d[:value]] }), class: 'form-control select select-primary' %>
			</div>
			<div class="col-xs-3">
				<span>From: </span>
				<%= text_field_tag 'date_from', nil, placeholder: 'Enter beginning date' %>
			</div>
			<div class="col-xs-3">
				<span>To: </span>
				<%= text_field_tag 'date_to', nil, placeholder: 'Enter ending date' %>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-3 col-xs-offset-3">
			<%= submit_tag 'Get report', class: 'btn btn-block btn-lg btn-primary' %>
		</div>
		<!-- TODO: validate dates -->
	</div>
	<div class="row" id="lookup-results">
		
	</div>
<% end %>